@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Martian+Mono&family=Montserrat&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(90, 0, 112);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
html,
body {
    height: 100px;
}

body {
    
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    height: 200px;
    padding: 20px 0;
}

.container {
    width: 50%;
}

.logo img {
    height: 90px;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
    font-size: 15px;
    font-family:'Martian Mono', monospace;

}

    .menu a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: bold;
        margin-right: 15px;
        list-style: none;
    }

section.sobre {
    height: calc(100% -200px);
    position: relative;
}

.img {
    position: absolute;
    bottom: -450px;
    right: -600px;
    top: -20px;
    width: 1200px;
    height: 1100px;

}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.texto-sobre {
    margin-top: 90px;
}

.texto-sobre h1 {
    font-size: 40px;
    font-family:'Martian Mono', monospace;
    color: white;
}

.texto-sobre p {
    margin: 20px 0;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-align:justify;
    max-width: 800px;
    font-family: Arial, Helvetica, sans-serif;

}

.texto-sobre button {
    border: 0;
    background-color: rgb(248, 246, 246);
    color: rgb(82, 0, 82);
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    text-align: justify;
   
    
   
    margin-top: 230px;
    margin-left: 30px;
    
    border: solid white;

  
}